<kt-portlet>
	<!-- PORTLET LOADING | Binded to TABLE Datasource -->
	<!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
	<kt-portlet-header [title]="'Campaigns'" [class]="'kt-portlet__head--lg'">
		<ng-container ktPortletTools>
			<button [routerLink]="['./add']" mat-raised-button color="primary" class="pl-4 pr-4">Back</button>
			<!-- Buttons (Material Angular) | See off.documenations 'https://material.angular.io/components/button/overview' -->
			<!-- mat-raised-button | Rectangular contained button w/ elevation  -->
		</ng-container>
	</kt-portlet-header>
	<!-- end::Header -->

	<!-- start::Body (attribute: ktPortletBody) -->
	<kt-portlet-body>
		<!-- start::FILTERS & GROUP ACTIONS -->
		<div class="kt-form kt-margin-b-50">
			<!-- start::FILTERS -->
			<div class="kt-form__filtration">
				<div class="row align-items-center">
					<div class="col-md-4 kt-margin-bottom-30-mobile">
						<!-- 'm  margin-bottom-10-mobile' for adaptive make-up  -->
						<div class="kt-form__control">
							<mat-form-field class="mat-form-field-fluid">
								<mat-label>Organization Name</mat-label>
								<mat-select [(ngModel)]="selectedOrganiztion" (selectionChange)="filterCampaigns()">
									<mat-option value="0">All</mat-option>
									<mat-option *ngFor="let member of membersList" [value]="member.id">
										{{member.name}}
									</mat-option>
								</mat-select>
								<mat-hint align="start">
									<strong>Filter</strong> by Organization Name
								</mat-hint>
							</mat-form-field>
						</div>
					</div>

					<div class="col-md-4 kt-margin-bottom-30-mobile">
							<div class="kt-form__control">
									<mat-form-field class="mat-form-field-fluid">
										<mat-label>Campain Status</mat-label>
										<mat-select [(ngModel)]="selectedStatus" (selectionChange)="filterCampaigns()">
											<mat-option value="0">All</mat-option>
											<mat-option  value='active'>
												Active
											</mat-option>
											<mat-option  value='finished'>
													Finished
												</mat-option>
										</mat-select>
										<mat-hint align="start">
											<strong>Filter</strong> by Status
										</mat-hint>
									</mat-form-field>
								</div>
					</div>
					<div class="col-md-4 kt-margin-bottom-30-mobile">
						<mat-form-field>
							<mat-label>Choose a date</mat-label>
							<input matInput [(ngModel)]="selectDate" placeholder="Please select date"
								[matDatepicker]="picker" (ngModelChange)="filterCampaigns()">
										
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
						</mat-form-field>
					</div>

				</div>
			</div>
			<!-- end::FILTERS -->

			<!-- start::GROUP ACTIONS -->
			<!-- Group actions list: 'Delete selected' | 'Fetch selected' | 'Update status for selected' -->
			<!-- Group actions are shared for all LISTS -->
			<div class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20"
				[ngClass]="{'show' : selection.selected.length > 0}">
				<!-- We show 'Group Actions' div if smth are selected -->
				<div class="col-xl-12">
					<div class="kt-form__group kt-form__group--inline">
						<div class="kt-form__label kt-form__label-no-wrap">
							<label class="kt--font-bold kt-font-danger-">
								<span translate="ECOMMERCE.COMMON.SELECTED_RECORDS_COUNT"></span>
								{{ selection.selected.length }}
							</label>
							<!-- selectedCountsTitle => function from codeBehind (students-list.component.ts file) -->
							<!-- selectedCountsTitle => just returns title of selected items count -->
							<!-- for example: Selected records count: 4 -->
						</div>
						
					</div>
				</div>
			</div>
			<!-- end::GROUP ACTIONS -->
		</div>
		<!-- end::FILTERS & GROUP ACTIONS -->

		<!-- MATERIAL TABLE | Binded to datasources -->
		<!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
		<div class="mat-table__wrapper">
			<mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort>
				<!-- Checkbox Column -->

				<!-- Table with selection -->
				<!-- https://run.stackblitz.com/api/angular/v1?file=app%2Ftable-selection-example.ts -->
				<ng-container matColumnDef="select">
					<mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
						<mat-checkbox (change)="$event ? masterToggle() : null"
							[checked]="selection.hasValue() && isAllSelected()"
							[indeterminate]="selection.hasValue() && !isAllSelected()">
						</mat-checkbox>
					</mat-header-cell>
					<mat-cell *matCellDef="let row" class="mat-column-checkbox">
						<mat-checkbox (click)="$event.stopPropagation()"
							(change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
						</mat-checkbox>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="ID">
					<!-- ATTRIBUTE mat-sort-header  for sorting | https://material.angular.io/components/sort/overview -->
					<mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
					<mat-cell *matCellDef="let Campaigns">{{Campaigns.id}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="Title">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
					<mat-cell *matCellDef="let Campaigns"><a href="http://" target="_blank"
							rel="noopener noreferrer">{{Campaigns.title}}</a></mat-cell>
				</ng-container>


				<ng-container matColumnDef="Goal">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Goal</mat-header-cell>
					<mat-cell *matCellDef="let Campaigns">${{Campaigns.goal}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Status">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
					<mat-cell *matCellDef="let Campaigns">
						<span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--success kt-badge--wide"
							*ngIf="Campaigns.status=='active'">{{Campaigns.status}}</span>
						<span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--danger kt-badge--wide"
							*ngIf="Campaigns.status=='finished'">{{Campaigns.status}}</span>
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="Date">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
					<mat-cell *matCellDef="let Campaigns">{{Campaigns.date|date}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="user">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Organization</mat-header-cell>
					<mat-cell *matCellDef="let Campaigns">{{getOrganizationName(Campaigns.user_id)}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="image">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Image</mat-header-cell>
					<mat-cell *matCellDef="let Campaigns">
						<img src="https://sandbox.donatetogo.org/public/campaigns/small/{{Campaigns.small_image}}" width='35px' height="35px" alt="campaign image">
					</mat-cell>
				</ng-container>


				<ng-container matColumnDef="Deadline">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Deadline</mat-header-cell>
					<mat-cell *matCellDef="let Campaigns">{{Campaigns.deadline}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Actions">
					<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
					<mat-cell *matCellDef="let Campaigns">
						<button (click)="editCampaign(Campaigns.id)" mat-icon-button color="primary">
							<mat-icon>create</mat-icon>
						</button>&nbsp;

					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>
			<div class="mat-table__message" *ngIf="CampaignsResult!=null&&CampaignsResult.length==0">No courses found
			</div>
			<div class="mat-table__message" *ngIf="CampaignsResult==null"><span>Please wait....</span></div>
			<!-- Message for empty data  -->
			

		</div>

		<!-- start: BOTTOM -->
		<div class="mat-table__bottom">
			<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
			<!-- <mat-spinner [diameter]="20" *ngIf="dataSource==null"></mat-spinner> -->
			<!-- MATERIAL PAGINATOR | Binded to dasources -->
			<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
			<mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
		</div>
		<!-- end: BOTTOM -->
	</kt-portlet-body>
	<!-- end::Body -->
</kt-portlet>