<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">
	<!--begin: Search -->
	<kt-search-dropdown></kt-search-dropdown>
	<!--end: Search -->
	<!--begin: Notifications -->
	<kt-notification [type]="'brand'" [skin]="'light'" [icon]="'flaticon2-bell-alarm-symbol'" [useSVG]="false"></kt-notification>
	<!--end: Notifications -->

	<!--begin: User bar -->
	<kt-user-profile [greeting]="false" [avatar]="false" [badge]="false" [icon]="true"></kt-user-profile>
	<!--end: User bar -->
	<!--begin: Quick panel toggler -->
	<div class="kt-header__topbar-item ml-4" data-placement="left" >
		<div class="kt-header__topbar-wrapper">
			<span class="kt-header__topbar-icon" id="kt_quick_panel_toggler_btn">DonateToGo</span>
		</div>
	</div>
	<!--end: Quick panel toggler -->
</div>
<!-- end:: Header Topbar -->
