<kt-portlet>
    <kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTools>
            <a [routerLink]="['./']" class="btn btn-secondary kt-margin-r-10" mat-raised-button
                matTooltip="Back to the users list">
                <i class="la la-arrow-left"></i>
                <span class="kt-hidden-mobile">Back</span>
            </a>
            <a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()"
                 mat-raised-button matTooltip="Reset changes">
                <i class="la la-cog"></i>
                <span class="kt-hidden-mobile">Reset</span>
            </a>
            <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)"
                mat-raised-button matTooltip="Save & Continue">
                <span class="kt-hidden-mobile">Save</span>
            </a>
        </ng-container>
    </kt-portlet-header>

    <kt-portlet-body>

        <!--begin::Form-->
        <div *ngIf="member">
            <form [formGroup]="memberForm" class="kt-form kt-form--group-seperator-dashed">
                <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="50000"
                    (close)="onAlertClose($event)">
                    Oh snap! Change a few things up and try submitting again.
                </kt-alert>
                <div class="kt-form__section kt-form__section--first">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div class="form-group kt-form__group row">
                                <div class="col-lg-6 col-md-6 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <input matInput placeholder="Enter Member Name" formControlName="name" />
                                        <mat-error>Member Name is
                                            <strong>required</strong>
                                        </mat-error>
                                        <mat-hint align="start">Please enter
                                            <strong>Member Name</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6 col-md-6 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <input matInput placeholder="Enter Member Email" formControlName="email" />
                                        <mat-error>Member Email is
                                            <strong>required</strong>
                                        </mat-error>
                                        <mat-hint align="start">Please enter
                                            <strong>Member Email</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group kt-form__group row">
                                <div class="col-lg-6 col-md-6 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-select placeholder="Select Member Role" formControlName="role">
                                            <mat-option value="admin">
                                                Admin
                                            </mat-option>
                                            <mat-option value="normal">
                                                Normal
                                            </mat-option>
                                        </mat-select>
                                        <mat-hint align="start">Please select
                                            <strong>Member Role</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6 col-md-6 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <input type="text" matInput placeholder="Enter Member Phone"
                                            formControlName="phone" />
                                        <mat-error>Member phone is
                                            <strong>required</strong>
                                        </mat-error>
                                        <mat-hint align="start">Please enter
                                            <strong>Member phone number</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="form-group kt-form__group row">
                                <div class="col-lg-6 col-md-6 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-select placeholder="Select Member Country" formControlName="country">
                                            <mat-option *ngFor="let country of allCountries" [value]="country.id">
                                                {{country.country_name}}
                                            </mat-option>

                                        </mat-select>
                                        <mat-hint align="start">Please select
                                            <strong>Member Country</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6 col-md-6 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <input type="text" matInput placeholder="Enter Member Adress"
                                            formControlName="address" />
                                        <mat-error>Member address is
                                            <strong>required</strong>
                                        </mat-error>
                                        <mat-hint align="start">Please enter
                                            <strong>Member address</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group kt-form__group row">

                                <div class="col-lg-6 col-md-6 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <input type="password" matInput placeholder="Enter Member Password"
                                            formControlName="password" />
                                        <mat-error>Member Password is
                                            <strong>required</strong>
                                        </mat-error>
                                        <mat-hint align="start">Please enter
                                            <strong>Member Password</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6 col-md-6 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <input type="text" matInput placeholder="Enter Member Password"
                                            formControlName="password_confirmation" />
                                        <mat-error>password_confirmation is
                                            <strong>required</strong>
                                        </mat-error>
                                        <mat-hint align="start">Please enter
                                            <strong>Member password_confirmation</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="width: 300px; height: 300px;">
                                    <img *ngIf="!imageprivew"
                                        src="http://www.placehold.it/300x300/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                                    <img *ngIf="imageprivew" src="{{imageprivew}}" alt="membership image"
                                        style="width: 300px; height: 300px;">
                                </div>
                                <label for="file-upload" class="custom-file-upload fileinput-new btn btn-success btn-s">
                                    <i class="fa fa-cloud-upload"></i> Upload Image</label>
                                <input id="file-upload" type="file" name="file" #input_image
                                    (change)="handleUpload($event)" ng2FileSelect [uploader]="uploader" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--end::Form-->
    </kt-portlet-body>
</kt-portlet>