<kt-portlet>
    <kt-portlet-header [title]="getTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
        <ng-container ktPortletTools>
            <a [routerLink]="['../']" class="btn btn-secondary kt-margin-r-10" mat-raised-button
                matTooltip="Back to the users list">
                <i class="la la-arrow-left"></i>
                <span class="kt-hidden-mobile">Back</span>
            </a>
            <a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()"
                [disabled]="selectedTab !== 0" mat-raised-button matTooltip="Reset changes">
                <i class="la la-cog"></i>
                <span class="kt-hidden-mobile">Reset</span>
            </a>
            <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)"
                mat-raised-button matTooltip="Save & Continue">
                <span class="kt-hidden-mobile">Save</span>
            </a>
        </ng-container>
    </kt-portlet-header>

    <kt-portlet-body>

        <!--begin::Form-->
        <div *ngIf="page">
            <form [formGroup]="pageForm" class="kt-form kt-form--group-seperator-dashed">
                <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="50000"
                    (close)="onAlertClose($event)">
                    Oh snap! Change a few things up and try submitting again.
                </kt-alert>
                <div class="kt-form__section kt-form__section--first">
                    <div class="form-group kt-form__group row">
                        <div class="col-lg-6 col-md-6 kt-margin-bottom-20-mobile">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput placeholder="Enter page Name" formControlName="Title" />
                                <mat-error>page Title is
                                    <strong>required</strong>
                                </mat-error>
                                <mat-hint align="start">Please enter
                                    <strong>page Title</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 kt-margin-bottom-20-mobile">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput placeholder="Enter page URL" formControlName="Slug_URL" />
                                <mat-error>page URL is
                                    <strong>required</strong>
                                </mat-error>
                                <mat-hint align="start">Please enter
                                    <strong>page URL</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="form-group kt-form__group row">
                        <div class="col-lg-12 col-md-12 kt-margin-bottom-20-mobile">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput placeholder="Enter page Content" formControlName="content" />
                                <mat-error>page content is
                                    <strong>required</strong>
                                </mat-error>
                                <mat-hint align="start">Please enter
                                    <strong>page Content</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group kt-form__group row">
                        <div class="col-lg-12 col-md-12 kt-margin-bottom-20-mobile">
                            <mat-radio-group formControlName="showNavbar">
                                <label style="margin:5px">Show Navbar</label>
                                <mat-radio-button value='1'>Yes</mat-radio-button>
                                <mat-radio-button value='0'>No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    
                </div>
            </form>
        </div>
        <!--end::Form-->
    </kt-portlet-body>
</kt-portlet>